<div class="well">
    <div class="row">
        <div class="col-md-3">Employee ID:</div>
        <div class="col-md-9">{{employee.id}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Employee Name:</div>
        <div class="col-md-9">{{employee.employeeName}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Employee DOB:</div>
        <div class="col-md-9">{{employee.dob}}</div>
    </div>
    <!--<div class="row">
        <div class="col-md-3">Department:</div>
        <div class="col-md-9">{{employee.departmentname?}}</div>
    </div>-->
</div>